@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*********************ШАПКА САЙТА*******************/
.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: -60px;
  left: 0;
  background: #fff;
  z-index: 999;
}
.header .header-wrape {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header .header-wrape .header-logo {
  color: #00228F;
  font-size: 48px;
  font-family: Arial Rounded MT Bold;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .header-wrape .main-menu ul {
  display: flex;
}
.header .header-wrape .main-menu ul li {
  color: #00228F;
  font-size: 16px;
  font-family: Arial Rounded MT Bold;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 70px;
}
.header .header-wrape .main-menu ul .active__main-menu {
  border-bottom: 3px solid #00228F;
}

/********************ШАПКА САЙТА*******************/
/***********************ВСТУПИТЕЛЬНЫЙ БЛОК***********************/
.introduction {
  width: 100%;
  height: 100%;
  background: url("/assets/media/background.png") 0 0/100% 100% no-repeat;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.introduction .introduction-background {
  width: 100%;
  height: 100%;
  background: url("/assets/media/ovulio.png") 0 0/100% 100% no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  filter: opacity(30%);
  z-index: -1;
  animation-name: ovulio;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group {
  width: 100%;
  height: 100%;
  z-index: 3;
}
.introduction .introduction-group .first-screen .branch-yelow {
  position: absolute;
  top: 6%;
  left: 15%;
  animation-duration: 2.5s;
  animation-name: branchblue;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .first-screen .branch-yelow svg {
  width: 75%;
  color: #FAFF00;
  animation-duration: 2.5s;
  animation-name: branchbluesize;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .first-screen .branch-white__first {
  position: absolute;
  top: 30%;
  left: 80%;
  animation-name: branchpink;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .first-screen .branch-white__first svg {
  width: 75%;
  color: #FFF;
  animation-name: branchpinksize;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .first-screen .branch-white__second {
  position: absolute;
  top: 60%;
  left: 40%;
  animation-name: branchposition;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .first-screen .branch-white__second svg {
  width: 60%;
  color: #fff;
  animation-name: branchsize;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .first-screen .points {
  position: absolute;
  top: 70%;
  left: 85%;
  width: 5%;
  animation-name: points;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .first-screen .points img {
  width: 100%;
}
.introduction .introduction-group .first-screen .introduction-text {
  position: absolute;
  top: 95%;
  left: 5%;
  color: #FAFF00;
  font-size: 24px;
  font-family: Arial Rounded MT Bold;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  animation-name: introsmalltext;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .first-screen .cloud {
  position: absolute;
  bottom: -18%;
  right: -19%;
  animation-name: cloudposition;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .first-screen .cloud svg {
  width: 60%;
  animation-name: cloudsize;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .first-screen .introduction-text__second {
  position: absolute;
  top: 30%;
  left: 15%;
  color: #FFF;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 120px;
  font-family: Arial Rounded MT Bold;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
}
.introduction .introduction-group .first-screen .introduction-text__second h2 {
  position: relative;
  left: -100%;
  animation-name: introtext;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .technology .branch-yelow {
  position: absolute;
  top: 6%;
  left: 15%;
  animation-duration: 2.5s;
  animation-name: branchblue;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .technology .branch-yelow svg {
  width: 75%;
  color: #FAFF00;
  animation-duration: 2.5s;
  animation-name: branchbluesize;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .technology .branch-white__first {
  position: absolute;
  top: 30%;
  left: 80%;
  animation-name: branchpink;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .technology .branch-white__first svg {
  width: 75%;
  color: #FFF;
  animation-name: branchpinksize;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .technology .branch-white__second {
  position: absolute;
  top: 60%;
  left: 40%;
  animation-name: branchposition;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .technology .branch-white__second svg {
  width: 60%;
  color: #fff;
  animation-name: branchsize;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .technology .points {
  position: absolute;
  top: 70%;
  left: 85%;
  width: 5%;
  animation-name: points;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .technology .points img {
  width: 100%;
}
.introduction .introduction-group .technology .introduction-text {
  position: absolute;
  top: 95%;
  left: 5%;
  color: #FAFF00;
  font-size: 24px;
  font-family: Arial Rounded MT Bold;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  animation-name: introsmalltext;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .technology .cloud {
  position: absolute;
  bottom: -18%;
  right: -19%;
  animation-name: cloudposition;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .technology .cloud svg {
  width: 60%;
  animation-name: cloudsize;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
.introduction .introduction-group .technology .introduction-text__second {
  position: absolute;
  top: 30%;
  left: 15%;
  color: #FFF;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 120px;
  font-family: Arial Rounded MT Bold;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
}
.introduction .introduction-group .technology .introduction-text__second h2 {
  position: relative;
  left: -100%;
  animation-name: introtext;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}

/***********************ВСТУПИТЕЛЬНЫЙ БЛОК***********************/
/***********************АНИМАЦИИ**********************/
.introduction .introduction-group .first-screen .branch-yelow.branch-blue {
  top: 0;
  left: 10%;
}
.introduction .introduction-group .first-screen .branch-yelow.branch-blue svg {
  width: 100%;
  color: #00228F;
  filter: drop-shadow(2px 2px 3px #424242);
}

.introduction .introduction-group .section.technology.fp-section.fp-table.fp-is-overflow.active.fp-completely .fp-overflow .branch-yelow.branch-blue {
  top: 0;
  left: 10%;
}
.introduction .introduction-group .section.technology.fp-section.fp-table.fp-is-overflow.active.fp-completely .fp-overflow .branch-yelow.branch-blue svg {
  width: 100%;
  color: #00228F;
  filter: drop-shadow(2px 2px 3px #424242);
}

.introduction .introduction-group .first-screen .branch-white__first.branch-pink {
  top: 10%;
  left: 75%;
}
.introduction .introduction-group .first-screen .branch-white__first.branch-pink svg {
  width: 100%;
  color: #f48be0;
  filter: drop-shadow(2px 2px 3px #424242);
}

.introduction .introduction-group .first-screen .branch-white__second.branch-size {
  top: 50%;
  left: 35%;
}
.introduction .introduction-group .first-screen .branch-white__second.branch-size svg {
  width: 100%;
  filter: drop-shadow(2px 2px 3px #424242);
}

.introduction .introduction-group .first-screen .cloud.cloud-size {
  bottom: -1%;
  right: -3%;
}
.introduction .introduction-group .first-screen .cloud.cloud-size svg {
  width: 100%;
}

.introduction .introduction-group .introduction-text__second.intro-text h2 {
  left: 0%;
}

.introduction .introduction-group .first-screen .introduction-text.intro-text__small {
  color: #00228F;
  font-size: 64px;
  top: 90%;
}

.introduction .introduction-background.intro-backgound__size {
  width: 80%;
  height: 80%;
  filter: opacity(5%);
  top: 10%;
  left: 10%;
}

.introduction .introduction-group .first-screen .points.points-size {
  top: 65%;
  left: 78%;
  width: 7%;
}

@keyframes branchblue {
  from {
    top: 6%;
    left: 15%;
  }
  to {
    top: 0%;
    left: 10%;
  }
  10% {
    top: 7%;
    left: 16%;
  }
  75% {
    top: -1%;
    left: 9%;
  }
}
@keyframes branchbluesize {
  from {
    width: 75%;
    color: #FAFF00;
  }
  to {
    width: 100%;
    color: #00228F;
    filter: drop-shadow(2px 2px 3px #424242);
  }
  10% {
    width: 74%;
  }
}
@keyframes branchpink {
  from {
    top: 30%;
    left: 80%;
  }
  to {
    top: 10%;
    left: 75%;
  }
  10% {
    top: 31%;
    left: 81%;
  }
  75% {
    top: 9%;
    left: 74%;
  }
}
@keyframes branchpinksize {
  from {
    width: 75%;
    color: #fff;
  }
  to {
    width: 100%;
    color: #f48be0;
    filter: drop-shadow(2px 2px 3px #424242);
  }
  10% {
    width: 74%;
  }
}
@keyframes branchposition {
  from {
    top: 60%;
    left: 40%;
  }
  to {
    top: 50%;
    left: 35%;
  }
  10% {
    top: 61%;
    left: 41%;
  }
  75% {
    top: 49%;
    left: 34%;
  }
}
@keyframes branchsize {
  from {
    width: 60%;
  }
  to {
    width: 100%;
    filter: drop-shadow(2px 2px 3px #424242);
  }
  10% {
    width: 59%;
  }
}
@keyframes cloudposition {
  from {
    bottom: -18%;
    right: -19%;
  }
  to {
    bottom: -1%;
    right: -3%;
  }
  10% {
    bottom: -19%;
    right: -20%;
  }
  75% {
    bottom: 0;
    right: -2%;
  }
}
@keyframes cloudsize {
  from {
    width: 60%;
  }
  to {
    width: 100%;
  }
  10% {
    width: 59%;
  }
  75% {
    width: 101%;
  }
}
@keyframes introsmalltext {
  from {
    font-size: 24px;
    color: #FAFF00;
    top: 95%;
  }
  to {
    font-size: 64px;
    color: #00228F;
    top: 90%;
  }
  10% {
    font-size: 20px;
    top: 96%;
  }
  75% {
    font-size: 70px;
    top: 89%;
  }
}
@keyframes introtext {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@keyframes ovulio {
  from {
    width: 100%;
    height: 100%;
    filter: opacity(30%);
    top: 0;
    left: 0;
  }
  to {
    width: 80%;
    height: 80%;
    filter: opacity(5%);
    top: 10%;
    left: 10%;
  }
}
@keyframes points {
  from {
    top: 70%;
    left: 85%;
    width: 5%;
  }
  to {
    top: 65%;
    left: 78%;
    width: 7%;
  }
}
/***********************АНИМАЦИИ**********************/
/****************************FULLPAGE****************************/
.fp-overflow {
  height: 100%;
}

.fp-watermark {
  display: none;
}

/****************************FULLPAGE****************************/